.git
.gitignore
README.md
.next
.env.local
.env*.example
docker-compose.yml
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.turbo
.swc
coverage
dist
build
.eslintcache
.prettierignore
